body {
  font-family: sans-serif;
  text-align: center;
  background: Khaki;
}
header {
  font-size:20px;
  background:SkyBlue;
}
header img {
  width:70px;
  height:70px;
}
header a {
 padding:3px;
 text-decoration:none;
 border-radius: 10px;
 border:1px solid black;
 background:white;
}
h1 {
  font-size:50px;
  color:SlateBlue;
}
h2 {
  font-size:40px;
}
main img {
  width:450px;
  height:300px;
  border-radius:20px;
}
footer {
  background:SkyBlue;
  font-size:20px;
}
main p {
  font-size:27px;
  border:2px solid MediumBlue;
  border-radius:25px;
  background:LightBlue;
}
main a {
 text-decoration:none;
 border-radius: 40px;
 border:1px solid MediumSpringGreen;
 padding:5px;
 background: PaleGreen;
 font-size:31px; 
}

